.App {
	background: rgb(0,144,198);
	background: linear-gradient(90deg, rgba(0,144,198,1) 0%, rgba(248,249,255,1) 100%, rgba(5,21,60,1) 100%, rgba(27,161,222,1) 100%);
	min-height: 100vh;
}
.card {
	background: rgba( 0, 0, 0, 0.2 );
	box-shadow: 0 8px 32px 0 rgba( 31, 38, 135, 0.37 );
	backdrop-filter: blur( 10px );
	-webkit-backdrop-filter: blur( 10px );
	border-radius: 10px;
	border: 1px solid rgba( 255, 255, 255, 0.18 );
	color: aliceblue;
	margin-top: 125px;
}

.card:hover {
	background: radial-gradient(ellipse at bottom, #1b2735 0%, #090a0f 100%);
}

img {
	margin-top: -80px;
}
